body {
    background-color: #191919
}

canvas {
    width: 1200px;
    height: 400px;
    background-color: white;
    /* border-width: 5px; */
    overflow: auto;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}